{{!--  --}}
{{!--------------------------------- Reset Password Template ---------------------------------}}
{{!--  --}}
<div style="font-family: Helvetica,Arial,sans-serif;min-width:600px;max-width:1200px;overflow:auto;line-height:2">
  <div style="margin:0px auto;width:90%;padding:10px 0">
  <div style="border-bottom:1px solid #eee">
    <a href="" style="font-size:1.4em;color: #00466a;text-decoration:none;font-weight:600">{{appName}}</a>
  </div>
    <p style="font-size:1.1em">Dear, {{name}}</p>
    <p>You recently requested to reset your password for your account.</p>
    <p>Your One-Time Password (OTP) is: <strong>{{ otpCode }}</strong></p>
    <p>Please use this OTP to reset your password. This OTP will expire in 30 minutes.</p>
    <p>Do not share this code with anyone, including {{appName}} employees.</p>
    <p style="font-size:0.9em;">Regards,<br />{{appName}}</p>
    <hr style="border:none;border-top:1px solid #eee" />
    <div style="float:right;padding:8px 0;color:#aaa;font-size:0.8em;line-height:1;font-weight:300">
      <p>{{appName}}</p>
      <p>{{address}}</p>
      <p>{{city}}</p>
    </div>
  </div>
</div>